@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
$red:#FF0000;
//checkbox styling
$form-check-input-checked-border-color: darken($red, 7.5%);
$form-check-input-checked-bg-color: $red;
$form-check-input-focus-border: gray;
$form-check-input-focus-box-shadow: 0 0 0 0.25rem rgba($red, 0.25);
@import "bootstrap";


.App {
  text-align: center;
}

.btn-primary {
  @include button-variant($red, darken($red, 7.5%), white);
}

.pageTitle {
  font-size: 3rem;
  font-weight: 800;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.CostCapInput {
  width: 5rem;
}
.CostCapInputLabelBold {
  font-weight: 800;
}
h1 {
  font-size: 2.2rem;
  font-weight: 700;
}

.LargeCheckbox {
  width: 1.5em;
  height: 1.5em;
}